 <div class="container">
   <div class="add-new">
     <div class="card-body">
       <h1>Add a new list</h1>
        <%= simple_form_for(@list) do |f| %>
          <p>
            <%= f.input :name %>
          </p>
          <p>
            <%= f.input :photo, as: :file %>
          </p>
            <%= f.submit class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>

  <div class="links-to-go-back">
    <%= link_to 'Back to lists', root_path  %>
  </div>
</div>
