<div class="container">

  <h2>List details</h2>

  <ul>
    <li><%= @list.name %></li>
  </ul>

  <p>Bookmarks</p>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %> | <%= bookmark.comment %></li>
      <li> <%= link_to "Delete Bookmark", bookmark_path(bookmark), method: :delete   %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Back to lists', lists_index_path  %> |
  <%= link_to 'Add Bookmark', new_list_bookmark_path(@list)  %>

</div>

