<div class="container">
  <div class="list-details">
    <h2><%= @list.name %></h2>
  </div>

<div class="sub-container">
  <div class="all-bookmarks">
    <% @list.bookmarks.each do |bookmark| %>
      <div id="bookmark">
      <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)"></div>
        <div class="card-body">
          <h3> <%= bookmark.movie.title %></h3>
          <p> <%= bookmark.comment %></p>
          <p>  <%= link_to "Delete film", bookmark_path(bookmark), method: :delete   %></p>
        </div>
      </div>
      <% end %>
  </div>


    <div class="add-new">
      <div class="card-body">
        <h3>Add new Film</h3>
          <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
 </div>

  <div class="links-to-go-back">
    <%= link_to 'Back to lists', root_path  %>
  </div>

</div>

